@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: #12283a;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 4rem;
}

.container {
  background-color: #0a0e31;
  width: 500px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 8px;
  padding: 1rem;
}

.setting_component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  background-color: #1d2141;
  border-radius: 10px;
  margin: 1rem;
}

p {
  color: #858798;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding-left: 1.5rem;
}

/* Slider Styling */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

input[type="range"]:focus {
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #bada55;
  border-radius: 0.5rem;
  height: 0.3rem;
}
label {
  -webkit-tap-highlight-color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -13px;
  background-color: #fff;
  opacity: 1;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
}

.slider-container {
  background-color: #1d2141;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.slider-container input {
  width: 70%;
}

.slider-container span {
  font-size: 1.3rem;
}

/* Checkbox Buttons */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  /* size of ON content */
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  transition: all 0.3s ease;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.4s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 50px;
}

.generate_password {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.generate_password button {
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(
    111deg,
    rgba(154, 197, 209, 1) 0%,
    rgba(93, 93, 205, 1) 37%,
    rgba(158, 41, 193, 1) 100%
  );
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.generate_password button:hover {
  transform: scale(1.02);
}

.generate_password button:active {
  transform: scale(0.98);
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d2141;
  border-radius: 10px;
  height: auto;
}
