@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  background-color: #12283a;
  color: #fff;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  padding: 1rem;
}

.container {
  background-color: #0a0e31;
  width: 500px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 8px;
}



.setting_component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #1d2141;
  border-radius: 10px;
}

p {
  color: #858798;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

/* Checkbox Buttons */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  /* size of ON content */
  height: 60px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}